<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Bonjour,</p>

	<p>Vous avez demandé la réinitialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>

	<p><a href="{{ reset_password_link }}">Réinitialiser le mot de passe</a></p>

	<p>Ce lien n'est valide que pour une durée limitée. Si vous ne pouvez pas réinitialiser votre mot de passe en utilisant ce lien, veuillez recommencer le processus de réinitialisation.</p>

	<p>Cordialement,</p>

	<p>@Systeme de détection des maladies des plantes</p>
</body>
</html>
